 <!DOCTYPE html>
<html>
    <head>
        <title>{{comestible.nombre}}</title>
        {{#each css}}
            <link rel="stylesheet" href="/css/{{this}}">
        {{/each}}
    </head>

    <body>
        {{{body}}}
        {{#each js}}
            <script src="/js/{{this}}"></script>
        {{/each}}
        {{#each comestible.componentes}}
            {{#if ingrediente.colorString}}
                <img src="/images/ingredientes/vaso.png" 
                    width="100" height="100" style='background-color: {{ingrediente.colorString}}' />
            {{else}}
                <img src={{ingrediente.path}} width="100" height="100" />
            {{/if}}
            <br/>
        {{/each}}
    </body>

</html> 
